@media screen and (max-width: 790px) {
  .header-nav,
  .header-nav__list {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .header-media__link {
    display: flex;
    flex-flow: column;
    margin: 5px;
  }
  .header-info {
    flex-flow: column;
    width: 100%;
    margin: 0 auto;
  }
  .header-info__block {
    flex-flow: row;
    width: 100%;
    margin: 5px auto;
  }
  .header-info__block h3 {
    background-color: rgba(189, 186, 177, 0.8);
  }
  .header-overlay {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 570px) {
  .header-nav,
  .header-nav__list {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .header-nav__item {
    margin: 2px;
  }
  .main-socks-img,
  .main-socks-info,
  .main-granny-img {
    flex-flow: column wrap;
  }
  .main-socks-img__block,
  .main-socks-info__block,
  .main-granny-img__block {
    width: 100%;
    margin: 5px auto;
  }
  .main-media__block {
    width: 80%;
  }
  .footer {
    flex-flow: column wrap;
    height: 18vh;
  }
}
@media screen and (max-width: 470px) {
  .header-logo {
    flex: 0 0 112px;
    z-index: 5;
  }
  .header-slider .slick-arrow {
    display: none;
  }
  .header-form {
   position: static;
   margin: 44px auto;
  }
  .header-form.active {
    display: none;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    z-index: 5;
  }
  .header-burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: all 0.3s ease 0s;
  }
  .header-burger:before,
  .header-burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header-burger:before {
    top: 0;
  }
  .header-burger:after {
    bottom: 0;
  }
  .header-burger.active:before {
    transform: rotate(45deg);
    top: 10px;
  }
  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 10px;
  }
  .header-burger.active span {
    transform: scale(0);
  }
  .header-nav {
    position: absolute;
    top: -250%;
    left: 36%;
    width: 60%;
    transition: all 0.3s ease 0s;
  }
  .header-nav__list {
    display: block;
  }
  .header-nav.active {
    position: absolute;
    top: 50%;
    left: 36%;
    width: 45%;
    height: 200%;
  }
  .header-nav__item {
    margin: 20px;
  }
}
